* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.btn {
    font-size: 14px;
    padding: 8px 0;
    width: 150px;
    text-align: center;
    border: 0.1rem solid #45ec6f;
    margin-top: 30px;
    text-decoration: none;
    color: #333;
    background-color: white;
    border-radius: 1rem;
    font-size: 24px;
}

#game-container {
    display: flex;
    flex-direction: row;
}

#game-tools {
    flex-grow: 1;
    background-color: rgba(0, 0, 0, 0.9);
}

#game-board {
    flex-grow: 3;
    background-color: rgba(22, 178, 189, 0);
    height: 100vh;
}

.cell {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: -6px;
}

.sky {
    background-color: #9ee9e9;
}

.btn:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(35, 160, 62, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.game-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: #3dc4c4;
}

.game-overlay.visible {
    background: url('../img/background.jpg')no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }

    to {
        background-color: rgba(0, 0, 0, 0.9);
        font-size: 5rem;
    }
}